*#
**/**#**
*-stamp
*.exe
*.mine
*.o
*.orig
*.rej
*.tmp
*.tmp.*
*~
.#*
a.out
bin/*
debian/*.debhelper.log
hs_err_pid*.log
main
/Debug/*
/Release/*
crash-info/
/tmp*/*
/temp/*
/SA_Report/*
iotivity
build*/*
log*
*.c.cpp
local.mk
