*#
**/**#**
*.exe
*.mine
*.o
*.orig
*.rej
*-stamp
*.tmp
*.tmp.*
*.wgt
*.zip
*~
*~
.#*
a.out
bin/*
main
client
server
tmp
/tmp*/*
/temp/*
/Debug
/Release
crash-info
/tmp
.build
.externalToolBuilders
.package-stamp
.rds_delta
.sdk_delta.info
.sign
SA_Report
\.package
\.sdk_delta.info
\.settings
crash-info/
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/iotivity-example*/
hs_err_pid*.log
/temp
/SA_Report
iotivity
build*
build*/*
log*
*.c.cpp
local.mk
lib
res
usr
