.#*
*~
**/**#**
*#
a.out
bin/*
client
crash-info
debian/*.debhelper.log
debian/files
debian/iotivity-example*/
debian/*.substvars
debian/tmp/
/Debug
*.exe
iotivity
main
*.o
*.orig
/Release
/SA_Report
server
/tmp
*.tmp
