[Unit]
Description="Iotivity example demo"
After=network.target

[Service]
ExecStart=/opt/iotivity-example-demo/bin/iotivity-example-demo.sh
Restart=always

[Install]
WantedBy=default.target

