
[Unit]
Description=iotivity-example-control
After=network.target

[Service]
ExecStart=/usr/local/bin/iotivity-example-control.sh
Restart=always

[Install]
WantedBy=default.target

