
[Unit]
Description=iotivity-example-watchdog
After=network.target

[Service]
ExecStart=/usr/local/bin/iotivity-example-watchdog.sh
Restart=always

[Install]
WantedBy=default.target

